<meta name="yandex-verification" content="efddbdd1c923c379" />
<meta name="google-site-verification" content="EzB9aJMqLJsZ9H_Se4S0-Kjho8OfGBmF9QkKDB4zKMw" />

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-83602096-1', 'auto');
  ga('send', 'pageview');
</script>
