<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo center">
      <img src="{{ 'img/logo.png' | absolute_url }}" style="width: 48px; height: 48px; margin-top: 6px;"/>
    </a>
    <ul class="right hide-on-med-and-down">
      <li><a href="{{ site.issues_url }}">{% t issues.title %}</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li><a href="{{ 'download' | absolute_url }}">{% t download.title %}</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li><a href="{{ 'status' | absolute_url }}">{% t status.title %}</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li><a href="{{ 'licensing' | absolute_url }}">{% t licensing.title %}</a></li>
    </ul>
    <ul class="left hide-on-med-and-down">
      <li><a href="{{base}}/">EN</a></li>
      <li><a href="{{base}}/ru">RU</a></li>
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li><a href="#">Menu</a></li>
      <li><a href="{{ site.issues_url }}">{% t issues.title %}</a></li>
      <li><a href="{{ 'download' | absolute_url }}">{% t download.title %}</a></li>
      <li><a href="{{ 'status' | absolute_url }}">{% t status.title %}</a></li>
      <li><a href="{{ 'licensing' | absolute_url }}">{% t licensing.title %}</a></li>
      <li><div class="divider"></div></li>
      <li><a href="{{base}}/">EN</a></li>
      <li><a href="{{base}}/ru">RU</a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>