---
layout: default
---


<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">ultra_outliner</h1>
      <div class="row center">
        <h5 class="header col s12 light">{% t front.slogan_html %}</h5>
      </div>
      <div class="row center">
        <a href="{{ 'download' | absolute_url }}" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">{% t download.title %}</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="img/background_lead.jpg"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>{% t front.contacts.header %}</h4>
        <p class="left-align light">{% t front.contacts.description %}</p>
      </div>
      
      <div class="col s12 m6">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">facebook</i></h2>
          <h5 class="center">{% t front.contacts.networks.header %}</h5>
          <p class="left-align light">{% t front.contacts.networks.description %}</p>
          <p class="light">
            <a id="logo-container" href="https://www.instagram.com/ultra_outliner/" class="">
              <img src="{{ 'img/instagram.svg' | absolute_url }}" style="width: 32px; height: 32px; vertical-align: middle;"/>
              instagram
            </a>
          </p>
          <p class="light">
            <a id="logo-container" href="https://vk.com/ultra_outliner" class="">
              <img src="{{ 'img/vk.svg' | absolute_url }}" style="width: 32px; height: 32px; vertical-align: middle;"/>
              vk
            </a>
          </p>
          <p class="light">
            <a id="logo-container" href="https://www.facebook.com/groups/1252690191458000" class="">
              <img src="{{ 'img/fb.svg' | absolute_url }}" style="width: 32px; height: 32px; vertical-align: middle;"/>
              fb
            </a>
          </p>
          <p class="light">
            <a id="logo-container" href="https://t.me/ultra_outliner" class="">
              <img src="{{ 'img/telegram.svg' | absolute_url }}" style="width: 32px; height: 32px; vertical-align: middle;"/>
              telegram
            </a>
          </p>
        </div>
      </div>

      <div class="col s12 m6">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">mail</i></h2>
          <h5 class="center">{% t front.contacts.mail.header %}</h5>
          <p class="light">{% t front.contacts.mail.description %}: support@ultraoutliner.com</p>
        </div>
      </div>
      
    </div>

  </div>
</div>



<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">{% t front.carousel.head_1 %}</h5>
        <h5 class="header col s12 light">{% t front.carousel.text_1 %}</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="img/background1.jpg" alt="Unsplashed background img 1"></div>
</div>

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">{% t front.promo.head_0 %}</h5>
          <p class="light">{% t front.promo.text_0_html %}</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">group</i></h2>
          <h5 class="center">{% t front.promo.head_1 %}</h5>
          <p class="light">{% t front.promo.text_1_html %}</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">{% t front.promo.head_2 %}</h5>
          <p class="light">{% t front.promo.text_2_html %}</p>
        </div>
      </div>
    </div>

  </div>
</div>




<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">{% t front.carousel.head_2 %}</h5>
        <h5 class="header col s12 light">{% t front.carousel.text_2 %}</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="img/background2.jpg" alt="Unsplashed background img 3"></div>
</div>

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">{% t front.promo.head_3 %}</h5>
          <p class="light">{% t front.promo.text_3_html %}</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">group</i></h2>
          <h5 class="center">{% t front.promo.head_4 %}</h5>
          <p class="light">{% t front.promo.text_4_html %}</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">{% t front.promo.head_5 %}</h5>
          <p class="light">{% t front.promo.text_5_html %}</p>
        </div>
      </div>
    </div>

  </div>
</div>



<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">{% t front.carousel.head_3 %}</h5>
        <h5 class="header col s12 light">{% t front.carousel.text_3 %}</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="img/background3.jpg" alt="Unsplashed background img 3"></div>
</div>

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">{% t front.promo.head_6 %}</h5>
          <p class="light">{% t front.promo.text_6_html %}</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">group</i></h2>
          <h5 class="center">{% t front.promo.head_7 %}</h5>
          <p class="light">{% t front.promo.text_7_html %}</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">{% t front.promo.head_8 %}</h5>
          <p class="light">{% t front.promo.text_8_html %}</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">{% t front.carousel.head_4 %}</h5>
        <h5 class="header col s12 light">{% t front.carousel.text_4 %}</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="img/background4.jpg" alt="Unsplashed background img 3"></div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">{% t front.promo.head_9 %}</h5>
          <p class="light">{% t front.promo.text_9_html %}</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">group</i></h2>
          <h5 class="center">{% t front.promo.head_10 %}</h5>
          <p class="light">{% t front.promo.text_10_html %}</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">{% t front.promo.head_11 %}</h5>
          <p class="light">{% t front.promo.text_11_html %}</p>
        </div>
      </div>
    </div>

  </div>
</div>