---
layout: default
---


<div class="container">
  <div class="section">

    <div class="row">

      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>{% t licensing.title %}</h4>
        <p class="left-align light">{% t licensing.description.p1 %}</p>
        <p class="left-align light">{% t licensing.description.p2 %}</p>
      </div>


      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">{% t licensing.sections.restrictions.title %}</h5>
          <p class="light">{% t licensing.sections.restrictions.body %}</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">group</i></h2>
          <h5 class="center">{% t licensing.sections.personalization.title %}</h5>
          <p class="light">{% t licensing.sections.personalization.body %}</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">{% t licensing.sections.usage.title %}</h5>
          <p class="light">{% t licensing.sections.usage.body %}</p>
        </div>
      </div>
    </div>

  </div>
</div>